.search-bar {
    margin: 20px;
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;
}

#results-container {
    margin-top: 20px;
}